.parent1{
display: flex;
justify-content: space-around;
background-color: black;
color: white;
height: 25px;
width:500px;
border: 2px black solid;
/* align-self: center; */
padding-top: 5px;

}

p{

    color: white;
    font-size: 5px;
    margin: auto;
    text-align: center;
}

sup{
    font-size: 8px;
    color: antiquewhite;
}

.parent2{
    display: flex;
    background-color: green;
    border: 2px solid white;
    color: black;
    width: 500px;
}
.p2c2{
    border: 1px white solid;
    background-color: red;
    color: white;
    width: 150px;
}