.parent{
    height: 375px;
    width: 800px;
    border: 2px black solid;
    background-color: bisque;
    margin: auto;
    margin-top:50px;
}
.p1{
     margin-top: 20px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
}
.p2{
    margin-top: 20px;
    height: auto;
    width: auto;
    display: flex;
    justify-content: space-around;
}
img{
    height: 150px;
    width: 150px;   
}
.child1{
    height:150px;
    width:150px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    transition: all 2s ease;
}
.child1 p{   
    font-size: 1rem;
    color:white; 
    opacity: 0;
}
.child1:hover{
    background-color: green;
}
.child1:hover>img{
    display: none;
}
.child1:hover>p{
    opacity:1;
}
