*{
    margin: 0;
    padding:0;

}


.header{
    background-color: black;
    color: white;
    font-size: 1rem;
    border: 2px solid black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.h1>img{
    width: 150px;
    height: 100px;
}
.header2{
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-self: center;
}
.header3{
    width: 600px;
    display: flex;
    justify-content: space-around;
      align-self: center;
}
.img>img{
  width: 100%;
}
a{
    color:white;
}
.header4{
    display: none;
    /* align-items: center; */
}
.menu{display: none;}
#menu{display: none;}
#menu:checked~.header4{
   .header2{ display: block;}
}
@media screen and (width<600px){
    .header{
        display: none;
    }
    .menu{
        display: block;
    }
    .img{
        width: auto;
    }

}
