body {
  font-family: Arial;
  background: #f2f2f2;
  padding: 30px;
}

h2 {
  color: #333;
}

input, select, button {
  padding: 10px;
  margin: 5px;
}

button {
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

li {
  background: white;
  margin: 5px;
  padding: 10px;
}
