#box{
    margin: 50px;
}
#child1{
    background-color:lightseagreen;
    color: white;
    padding: 30px;
    text-align: center;
}
#child1 button{
    color: white;
    float: right;
    background-color: lightseagreen;
    border: 0px;

}
#child2{
    background-color:lightseagreen;
    color: white;
    padding: 30px;
    text-align: center;
}
#child2 button{
    background-color: lightseagreen;
    color: white;
    border-color: white;
    border: 0px;
}
#ch3{
    display: flex;
    justify-content: space-between;
}
#ch3 button{
    background-color: lightcoral;
    border:0px;
    color: white;
}
